<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1> 게시글 목록 </h1>
<table>
    <thead>
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성 날짜</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시글 목록을 반복하여 사용하라는 thymleaf문법-->
    <tr th:each="post : ${boards}">
        <!-- 각 게시글의 uid를 경로로 하여 접근함 -->
        <td><a href="item.html" th:href="@{/boards/{uid}(uid=${board.uid})}" th:text="${board.uid}">글 ID</a></td>
        <td><a href="item.html" th:href="@{/boards/{uid}(uid=${board.uid})}" th:text="${board.subject}">제목</a></td>
        <td th:text="${board.name}"></td>
        <td th:text="${board.regdate}"></td>
    </tr>
    </tbody>
</table>
<button><a href="/board/write" th:onclick="|location.href='@{/boards/add}'|">글쓰기</a></button>
</body>
</html>