<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>
<h1>User Form</h1>
<form th:action="@{${user.id} == null ? '/users' : '/users/update/' + ${user.id}}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Name: <input type="text" th:field="*{name}" /></label><br>
    <label>Email: <input type="email" th:field="*{email}" /></label><br>
    <button type="submit">Save</button>
</form>
<a href="/users">Back to User List</a>
</body>
</html>
